#mainContainer {
	display: block;
	position: absolute;
	background-color: #ccc;
	left: -300px;
	width: calc(100% + 300px);
	height: 100%;
}

#map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px;
	z-index: 0;
}

#titleBar {
	position: absolute;
	left: 300px;
	top: 0;
	width: auto;
	z-index: 11;
}

#titleBar button {
	font-size: 2em;
}

nav {
	background-color: #FFCC00;
	padding: 0.5em;
	width: auto;
}

#menu {
	position: absolute;
	background-color: #fefef9;
	height: 100%;
	width: 300px;
	top: 0;
	left: 0px;
	z-index: 10;
}

#menu ul {
	margin: 0;
	padding: 0;
}

#menu ul li {
	list-style-type: none;
	padding: 1.1em;
	margin: 0;
	font-size: 1.2em;
	border-bottom: 1px solid #efefef;
	border-top: 2px solid #fff;
	cursor: pointer;
}

#menuCloseBtn {
	text-align: right;
}

#menu ul li:hover {
	background-color: #f0ad4e;
}

#menu ul li:active {
	background-color: #f0ad4e;
}

.venueWindow {
	max-width: 250px;
	width: 250px;
	height: inherit;
	overflow: scroll;
}

.venueWindow hr {
	margin-top: 0;
	margin-bottom: 6px;
}

.beerCheckin {
	max-width: 250px;
	width: 250px;
	padding-bottom: 10px;
}

.beerCheckin h6 {
	font-style: italic;
	font-weight: bold;
	margin-top: 0;
}

.beerCheckin img {
	width: 65px;
	float: left;
	padding-right: 10px;
}

.beerImg {
	background-color: yellow;
	position: relative;
	width: 65px;
}

.beerTag {
	margin-left: 65px;
}

.beerCheckin .brewery {
	margin-left: 4px;
	font-weight: normal;
}

.moreInfo {
	margin-top: -10px;
	padding: 0;
}

h4 {
	margin-bottom: 0;
}

.footer {
	padding: 1.5em;
}

#infoModal {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	background-color: white;
	border-radius: 4px;
	border: 1px solid #ddd;
	padding: 1.5em;
	z-index: 100;
}

#infoCloseBtn {
	cursor: pointer;
	margin-top: 0;
	text-align: right;
}

#modalContent {
	height: inherit;
	overflow: scroll;
}